QMenu {
	background-color: #2E3440;
	color: #8A9899;
}

QMenuBar::item {
	background: transparent;
}

QMenu::item:selected {
	background-color: #3B4252;
}

QTabBar,
QTabBar::tab
{
	font-family: 'SourceCode Pro';
	font-size: 15px;
	height: 16px;
	padding: 5px;
	font-weight: normal;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: #2E3440;
	background-color: #2E3440;
	color: #888888;
}

QTabBar::tab:selected
{
	border-color: #8A9899;
	color: #AAAAAA;
}

QWidget {
	background: #2E3440;
	padding: 6px;
	padding-bottom: 0;
}
