[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "config/fish/fisher"]
	path = config/fish/fisher
	url = https://github.com/jorgebucaran/fisher
