[submodule "dotbot"]
	path   = dotbot
	url    = https://github.com/anishathalye/dotbot
[submodule "zsh/zinit"]
	path   = zsh/zinit
	url    = https://github.com/zdharma/zinit
	ignore = dirty
[submodule "doom-emacs"]
	path = doom-emacs
	url = https://github.com/hlissner/doom-emacs
