config/fish/conf.d
config/fish/functions
config/fish/completions

config/psd/.psd.conf

xmonad/**/*.o
xmonad/**/*.hi
xmonad/prompt-history
xmonad/xmonad.errors
xmonad/xmonad-x86_64-linux
xmonad/xmobar
xmonad/termonad
xmonad/taffybar
