[Unit]
Name=Emacs Daemon

[Service]
ExecStart=/home/xervon/.cache/dotfiles/bin/emacs.startup
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs t)"
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
