[Unit]
Name=Emacs Daemon

[Service]
ExecStart=/home/xervon/.cache/dotfiles/bin/emacs.startup
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
